@model WebHospitalSystem.Models.AppointmentVM

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>*@
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<br />
<h2>Редактирование записи врача</h2>
<br />

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AppointmentId)

    <div class="form-group">
        @Html.LabelFor(model => model.DoctorName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.DoctorId, @ViewBag.doctorNamesList as SelectList, "-- Выберите врача --", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DoctorName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PatientName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PatientId, @ViewBag.doctorNamesList as SelectList, "-- Выберите пациента --", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PatientName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Diagnosis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Diagnosis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diagnosis, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить изменения" class="btn btn-dark" onclick="editAppointment()" />
        </div>
    </div>
</div>

<script type="text/javascript">
    function editAppointment() {
        var appointmentId = document.getElementById("AppointmentId");
        alert(appointmentId);
        var docIdS = document.getElementById("DoctorId");
        var patIdS = document.getElementById("PatientId");
        var docId = docIdS.options[docIdS.selectedIndex].value;
        var patId = patIdS.options[patIdS.selectedIndex].value;
        var diagnosis = document.getElementById("Diagnosis").value;
        var jsonDetails = { "AppointmentId": appointmentId, "DoctorId": docId, "PatientId": patId, "Diagnosis": diagnosis };

        $.post('/appointment/editAppointment', jsonDetails,
            function (data) {
                if (data == 0) {
                    location = location.href;
                }
            },
            'json');
        alert('Запись на прием успешно редактирована');
        window.location = window.location;
    }
</script>
