@model WebHospitalSystem.Models.AppointmentRecordVM

@{
    Layout = "~/Views/Shared/_LayoutWithoutBundles.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<br />
<h2>Редактирование записи деталей приема пациента</h2>
<br />

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AppointmentId)
    @Html.HiddenFor(model => model.AppointmentRecordId)

    <div class="form-group">
        @Html.LabelFor(model => model.Symptom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Symptom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Symptom, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Date, new { @type = "date", @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить изменения" class="btn btn-dark" onclick="editAppointment()" />
        </div>
    </div>
</div>

<script type="text/javascript">
    function editAppointment() {
        var symptom = document.getElementById("Symptom").value;
        var date = document.getElementById("Date").value;
        var appointmentId = document.getElementById("AppointmentId").value;
        var appointmentRecordId = document.getElementById("AppointmentRecordId").value;
        var jsonDetails = { "Symptom": symptom, "Date": date, "AppointmentId": appointmentId, "AppointmentRecordId" : appointmentRecordId };

        $.post('/appointment/editAppointmentRecord', jsonDetails,
            function (data) {
                if (data == 0) {
                    location = location.href;
                }
            },
            'json');
        alert('Запись на прием успешно редактирована');
        window.location = window.location;
    }
</script>
