@model IEnumerable<WebHospitalSystem.Models.AppointmentVM>
@{
    ViewBag.Title = "Список приема пациентов";
}

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<br />
<h2>Список приема пациентов</h2>
<hr />

<p>
    <input type="button" value="Запись на прием к врачу" onclick="createpopup()" />
    <input id="selectedId" type="text" hidden="hidden" />
</p>
@{
    WebGrid webGrid = new WebGrid(source: Model);
    @webGrid.GetHtml(
        htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
        columns: webGrid.Columns(
                 webGrid.Column(header: "ID приема", format: @<span class="label">@item.AppointmentId</span>, style: "AppointmentId"),
webGrid.Column(header: "ФИО врача", format: @<span class="label">@item.DoctorName</span>, style: "DoctorName"),
webGrid.Column(header: "ФИО пациента", format: @<span class="label">@item.PatientName</span>, style: "PatientName"),
webGrid.Column(header: "Диагноз", format: @<span class="label">@item.Diagnosis</span>, style: "Diagnosis"),
webGrid.Column(format:@<span class="link">
            <a class="edit" id="@item.AppointmentId" onclick="editAppointment()">Редактировать</a>
        </span>)))
}


<div id="popup" style="display:none"></div>

<script type="text/javascript">
    function createpopup() {
        var x = $('#popup');
        x.load('/appointment/createAppointment', function () {
            x.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 550,
                height: 600,
                title: "Запись на прием",
                resizable: false
            });
        });
    }



    var appointmentId;
    var inputText;
    $('.edit').on('click', function (e) {
        appointmentId = $(this).prop('id');
        inputText = document.getElementById("selectedId");
        inputText.innerText = $(this).prop('id');
        alert(inputText.innerText);
        editAppointment();
    });
    function editAppointment() {
        var y = $('#popup');
        y.load('/appointment/editAppointment?appointmentId='+inputText.innerText, function () {
            y.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 550,
                height: 600,
                title: "Редактирование записи на прием",
                resizable: false
            });
        });

        //$.ajax({
        //    type: "GET",
        //    url: "/appointment/editAppointment?appointmentId=" + appointmentId,
        //    data: 'appointmentId:' + appointmentId,
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    success: function(data){
        //        alert('success!');

        //    },
        //});
    }
</script>