@model IEnumerable<WebHospitalSystem.Models.AppointmentVM>

@{
    ViewBag.Title = "Список приема пациентов";
}

<br />
<h2>Список приема пациентов</h2>
<hr />

<p>
    <input type="button" value="Запись на прием к врачу" onclick="createpopup()" />
</p>

@{
    WebGrid webGrid = new WebGrid(source: Model);
    @webGrid.GetHtml(
        htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
        tableStyle: "table",
        columns: new[]{
            webGrid.Column(header: "ID приема", format: @<span class="label">@item.AppointmentId</span>, style: "AppointmentId" ),
webGrid.Column("DoctorName", "ФИО врача"),
webGrid.Column("PatientName", "ФИО пациента"),
webGrid.Column("Diagnosis", "Диагноз"),
webGrid.Column(null, format:@<span class="link"> <a class="Edit" href="javascript:;">Edit</a> </span> )

                                    @*webGrid.Column(null, format: @<text>@Html.Raw("<input type='button' value=Редактировать onclick='editAppointment("+item.AppointmentId+")'/>")</text>)*@

                                    @*webGrid.Column(null,null, format: @<input type="hidden" name="DoctorId" value="@Model.DoctorId" />),
                                        webGrid.Column(null,null, format: @<input type="hidden" name="PatientId" value="@Model.PatientId" />),*@
}
)
}

<div id="popup" style="display:none"></div>

<script type="text/javascript">
    function createpopup() {
        var x = $('#popup');
        x.load('/appointment/createAppointment', function () {
            x.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 550,
                height: 600,
                title: "Запись на прием",
                resizable: false
            });
        });
    }

    function editAppointment(appId) {
        alert(item.AppointmentId);
        var x = $('#popup');
        x.load('/appointment/editAppointment?appointmentId=' + appId, function () {
            x.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 550,
                height: 600,
                title: "Редактирование записи на прием",
                resizable: false
            });
        });
    }

    $("body").on("click", "#WebGrid TBODY .Edit", function () {
            var appointmentId =  row.find(".AppointmentId").find(".label").html();
            $.ajax({
                type: "POST",
                url: "/Home/UpdateCustomer",
                data: '{customer:' + JSON.stringify(customer) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
    });

</script>