@model WebHospitalSystem.Models.RegisterDoctorVM

@{
    ViewBag.Title = "Регистрация врачей";
}
<br />
<h2>Регистрация врачей</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col">
            @Html.ValidationMessageFor(model => model.FirstName)
            <input type="text" class="form-control" placeholder="Имя">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            @Html.ValidationMessageFor(model => model.LastName)
            <input type="text" class="form-control" placeholder="Фамилия">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            @Html.ValidationMessageFor(model => model.Patronymic)
            <input type="text" class="form-control" placeholder="Отчество">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            @Html.ValidationMessageFor(model => model.PhoneNumber)
            <input type="text" class="form-control" placeholder="Телефонный номер">
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col">
            @Html.ValidationMessageFor(model => model.Login)
            <input type="text" class="form-control" placeholder="Логин">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            @Html.ValidationMessageFor(model => model.Password)
            <input type="text" class="form-control" placeholder="Введите пароль">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
            <input type="text" class="form-control" placeholder="Подтвердите пароль">
        </div>
    </div>
    <br />

    <p>
        <input type="submit" value="Зарегистрировать врача" class="btn btn-dark" />
    </p>
}